.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.off {
  background-color: black;
}

.title {
  display: flex;
  margin-left: 250pt;
  margin-right: 250pt;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.customers {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-left: 100pt;
  margin-right: 100pt;
}

.rowW {
  display: flex;
  background-color: rgba(129, 127, 127, 0.29);
  padding: 10px
}

.even {
  display: flex;
  background-color: rgba(129, 127, 127, 0.29);
  padding: 10pt;
}

.odd {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 10pt;
}

.columnW {
  flex: 50%;
  margin-left: 30pt;
}

.columnWP {
  display: flex;
  flex: 50%;
  margin-right: 20pt;
  justify-content: center;
}

.rowT {
  display: flex;
}

.red {
  display: flex;
  background-color: rgba(240, 128, 128, 0.502);
}

.green {
  display: flex;
  background-color: rgba(144, 238, 144, 0.502);
}

.columnT {
  flex: 33%;
  display: flex;
  justify-content: center;
  margin: 5pt
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.addButton {
  display: flex;
  flex-direction: row;
  margin-top: 30pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
  justify-content: center;
}

.addButtonT {
  display: flex;
  flex-direction: row;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
  justify-content: center;
}

.addButtonQ {
  display: flex;
  flex-direction: row;
  margin-top: 30pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
  justify-content: center;
  margin: 20pt;
}

.custInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5pt;
  padding: 5pt;
  border: #282c34 10pt solid;
}

.addButtonR {
  display: flex;
  flex-direction: row;
  margin-top: 30pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
  justify-content: center;
  margin: 20pt;
  border: black solid 5pt;
  padding: 20pt
}